hostname {{ device_name}}
no ip domain-lookup 

{% for vlan_name, data in networks.items() %}
vlan {{ data.vlan_id }}
name {{vlan_name }}
{% endfor %}

{% for vlan_name, data in networks.items()%}
interface vlan {{data.vlan_id}}
ip address {{ data.gateway }} 255.255.255.0
no shutdown
{% endfor%}
ip routing 